.container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container header{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8.4rem 0 2.4rem;
}
.container header img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.container header div{

  width: 50%;
  padding: 20px;
  background-color: #EA4C89;
  border-radius: 7px;
  color: white;
}
.container header p{
  border-top: 1px solid #f890b8;
  padding: 10px;
  width: 100%;
}
.container header .user{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.container input{
  width: 50%;
  padding: 2.4rem;
  background-color: #e6e6e6;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  outline: none;
}

.container button{
  width: 50%;
  padding: 24px;
  font-weight: 700;

  background: #EA4C89;
  color: #FFFFFF;

  border-radius: 5px;
  margin: 12px 0 84px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: filter 0.2s;
  font-size: 16px;
}

.container button:hover{
  filter: brightness(0.9);
}